name: On PR
 
on:
  pull_request:
    branches:
      - '*'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: python -m pip install .[dev]

      - name: Run tests with coverage
        run: |
          coverage run -m pytest --junitxml=test-results/results.xml

      - name: Upload tests results to GitHub
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            test-results/results.xml

      - name: Upload coverage to GitHub
        uses: actions/upload-artifact@v3
        if: (!cancelled())
        with:
          name: coverage-report

